.tooltip {
  position: fixed;
}

.tooltip-content {
  color: white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-user-select: text;
  user-select: text;
  cursor: auto;
}

.tooltip-arrow {
  background: linear-gradient(0.125turn, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
}